<nav class="navbar navbar-expand-lg navbar-light" *transloco="let translate">
  <a class="navbar-brand" [routerLink]="'/'">
    <img src="assets/img/logo.png" [alt]="translate('navigation.logoAlt')" />
  </a>

  <ng-container *ngIf="isValid; else loggedOut">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse link-container"
    >
      <ng-container *ngIf="navLinks?.length">
        <ul class="navbar-nav">
          <button
            *ngFor="let link of navLinks; trackBy: 'id' | trackByKey"
            class="nav-link"
            [routerLink]="link.link"
            (click)="isMenuCollapsed = true"
          >
            <span [class]="link.icon"></span>
            {{ translate(getObjectProperty(link.label)) }}
          </button>
          <app-language-settings></app-language-settings>
        </ul>
      </ng-container>
      <app-settings
        [activeLangIsDefaultLang]="activeLangIsDefaultLang"
        [loggedInUser]="loggedInUser"
      ></app-settings>
    </div>
  </ng-container>
  <ng-template #loggedOut>
    <div class="login-button-container">
      <app-language-settings></app-language-settings>
      <button
        id="form-submit-button"
        class="btn"
        type="button"
        mat-raised-button
        routerLink="/auth/login"
      >
        {{ translate('dynamicForm.action.login') | uppercase }} /
        {{ translate('dynamicForm.action.create') | uppercase }}
        {{ translate('dynamicForm.model.account') | uppercase }}
      </button>
    </div>
  </ng-template>
</nav>
