<div class="login-container" *transloco="let t">
  <div class="form-container">
    <app-dynamic-form
      id="login-card"
      [formConfig]="formConfig"
      (emitForm)="propagateForm($event)"
      (emitSubmit)="submit()"
    ></app-dynamic-form>
    <div class="forgot-password-container">
      <a class="forgot-password-link" routerLink="/auth/forgot-password"
        >{{ t('dynamicForm.action.forgot') }}
        {{ t('dynamicForm.model.password') }}?</a
      >
    </div>
  </div>
  <div class="sign-up-container">
    <h2 class="card-header">{{ t('signUp.cardHeader') }}</h2>
    <div class="instruction">
      {{ t('signUp.instruction') }}
    </div>
    <button
      id="form-submit-button"
      class="btn"
      type="button"
      mat-raised-button
      routerLink="/auth/signup"
    >
      {{ t('dynamicForm.action.create') | uppercase }}
      {{ t('dynamicForm.model.account') | uppercase }}
    </button>
  </div>
</div>
