<div class="login-container" *transloco="let translate">
  <div class="form-container">
    <app-dynamic-form
      id="login-card"
      [formConfig]="formConfig"
      (emitForm)="propagateForm($event)"
      (emitSubmit)="submit()"
    ></app-dynamic-form>
    <div class="forgot-password-container">
      <a class="forgot-password-link" routerLink="/auth/forgot-password"
        >{{ translate(actions.forgotPassword) }}?</a
      >
    </div>
  </div>
  <div class="sign-up-container">
    <h2 class="card-header">
      {{ translate(signUpTranslationKeys.cardHeader) }}
    </h2>
    <div class="instruction">
      {{ translate(signUpTranslationKeys.instruction) }}
    </div>
    <button
      id="form-submit-button"
      class="btn"
      type="button"
      mat-raised-button
      routerLink="/auth/signup"
    >
      {{ translate(actions.createAccount) | localeuppercase }}
    </button>
  </div>
</div>
