<div class="login-container">
  <div class="form-container">
    <app-dynamic-form
      [formConfig]="formConfig"
      [formTitle]="formTitle"
      (emitForm)="propagateForm($event)"
      (emitSubmit)="submit()"
    ></app-dynamic-form>
    <p>
      <a routerLink="/auth/forgot-password">Forgot Password?</a>
    </p>
  </div>
  <div class="sign-up-container">
    <h2 class="card-header">
      Haven't Registered Yet?
    </h2>
    <button
      id="form-submit-button"
      class="btn"
      type="button"
      mat-raised-button
      routerLink="/auth/signup"
    >
      {{ "Create Account" | uppercase }}
    </button>
  </div>
</div>

