button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  flex-grow: 1;
  align-self: center;
}

.link-container {
  flex-grow: 2;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}
