<ng-container *transloco="let translate">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          {{ translate('dynamicTable.header.name') | uppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.description') | uppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.email') | uppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.phoneNumber') | uppercase }}
        </th>
        <ng-container *ngIf="checkRole.canEdit">
          <th scope="col w-10">
            {{ translate('dynamicTable.header.actions') | uppercase }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableData.length">
        <tr *ngFor="let item of tableData; trackBy: 'id' | trackByKey">
          <td class="name-container">
            <ng-container *ngIf="item.thumbnail">
              <img
                class="thumbnail-container"
                [src]="item.thumbnail"
                alt="{{ item.name }} {{
                  translate('dynamicTable.body.thumbnail')
                }}"
              />
            </ng-container>
            {{ item.name }}
          </td>
          <td>{{ item.description }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phoneNumber }}</td>
          <ng-container *ngIf="checkRole.canEdit">
            <td class="w-10">
              <button
                class="btn"
                type="button"
                tooltip="{{ translate('dynamicTable.tooltip.updateAgent') }}"
                routerLink="/content/update-agent/{{ item.id }}"
              >
                <span class="fa fa-edit"></span>
                <span class="sr-only">
                  {{ translate('dynamicTable.tooltip.updateAgent') }}
                </span>
              </button>
              <ng-container *ngIf="checkRole.isAdmin">
                <button
                  class="btn"
                  type="button"
                  tooltip="{{ translate('dynamicTable.tooltip.deleteAgent') }}"
                  (click)="deleteAgent(item)"
                >
                  <span class="fa fa-trash"></span>
                  <span class="sr-only">
                    {{ translate('dynamicTable.tooltip.deleteAgent') }}
                  </span>
                </button>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="center" *ngIf="!tableData.length">
    {{ translate('dynamicTable.body.emptyListMessage') }}
  </div>
</ng-container>
