.table {
  min-width: 1000px;
}

.thumbnail-container {
  height: 40px;
  border-radius: 50%;
}

.name-container {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.td-container {
  vertical-align: middle;
}
