<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ "Agency Name" | uppercase }}</th>
      <th scope="col w-10">{{ "Actions" | uppercase }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="tableData.length">
      <!-- <tr *ngFor="let item of tableData; trackBy: trackable.trackByKey"> -->
      <tr *ngFor="let item of tableData; trackBy:('id' | trackByKey)">
        <td>{{ item.agencyName }}</td>
        <td class="w-10">
          <button class="btn" type="button" tooltip="Update Agency" routerLink="/admin/update-agency/{{ item.id }}">
            <span class="fa fa-edit"></span>
            <span class="sr-only">Update Agency</span>
          </button>
          <button class="btn" type="button" tooltip="Delete Agency" (click)="deleteAgency(item)">
            <span class="fa fa-trash"></span>
            <span class="sr-only">Delete Agency</span>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div class="center" *ngIf="!tableData.length">{{ tableConfig?.emptyListMessage }}</div>
