<ng-container *transloco="let translate">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          {{ translate(dynamicTable.header.agencyName) | localeuppercase }}
        </th>
        <th scope="col w-10">
          {{ translate(dynamicTable.header.actions) | localeuppercase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableData.length">
        <tr *ngFor="let item of tableData; trackBy: 'id' | trackByKey">
          <td>{{ item.agencyName }}</td>
          <td class="w-10">
            <button
              class="btn"
              type="button"
              tooltip="{{ translate(dynamicTable.tooltip.updateAgency) }}"
              routerLink="/admin/update-agency/{{ item.id }}"
            >
              <span class="fa fa-edit"></span>
              <span class="sr-only">{{
                translate(dynamicTable.tooltip.updateAgency)
              }}</span>
            </button>
            <button
              class="btn"
              type="button"
              tooltip="{{ translate(dynamicTable.tooltip.deleteAgency) }}"
              (click)="deleteAgency(item)"
            >
              <span class="fa fa-trash"></span>
              <span class="sr-only">{{
                translate(dynamicTable.tooltip.deleteAgency)
              }}</span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="center" *ngIf="!tableData.length">
    {{ translate(dynamicTable.body.emptyListMessage) }}
  </div>
</ng-container>
