<div ngbDropdown class="navbar-nav">
  <button
    id="profileDropdown"
    class="nav-link"
    ngbDropdownToggle
  >
    <span class="fa fa-user"></span>
    Hi {{ loggedInUser?.firstName }}
  </button>
  <div ngbDropdownMenu aria-labelledby="profileDropdown">
    <div class="profile-dropdown-container">
      <span>{{ loggedInUser?.profilePicture }}</span>
      <span>{{ loggedInUser?.firstName }}</span>
      <span>{{ loggedInUser?.lastName }}</span>
      <div>
        <ng-container *ngFor="let link of profileLinks; trackBy: trackByLink">
          <button ngbDropdownItem [routerLink]="link.link">{{ link.label }}</button>
        </ng-container>
        <button ngbDropdownItem (click)="toggleNavBar()">Toggle Navigation Bar</button>
        <button ngbDropdownItem (click)="openConfirmModal()">Sign Out</button>
      </div>
    </div>
  </div>
</div>
