@import '../navigation.scss';

.profile-dropdown-container {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.profile-photo {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  width: auto;
  height: auto;
}

.vertical-line{
  display: inline-block;
  border-left: 1px solid lightgray;
  margin: 0 20px;
  height: 125px;
}
