<div ngbDropdown class="navbar-nav" *transloco="let t">
  <button id="profileDropdown" class="nav-link" ngbDropdownToggle>
    <span class="fa fa-user"></span>
    {{ t('navigation.userProfile.welcomeText') }} {{ loggedInUser?.firstName }}
  </button>
  <div
    ngbDropdownMenu
    aria-labelledby="profileDropdown"
    class="dropdown-menu-right"
  >
    <div class="profile-dropdown-container">
      <div class="profile-info">
        <img
          class="profile-photo"
          [src]="loggedInUser.profilePicture || profilePicturePlaceholder"
          [alt]="t('navigation.userProfile.imageAlt')"
          (error)="showPlaceholderImageOnEmptyOrError()"
        />
        <div>{{ loggedInUser?.firstName }}</div>
        <div>{{ loggedInUser?.lastName }}</div>
      </div>
      <span class="vertical-line"></span>
      <div>
        <ng-container
          *ngFor="let link of profileLinks; trackBy: 'id' | trackByKey"
        >
          <button ngbDropdownItem [routerLink]="link.link">
            {{ t(getObjectProperty(link.label)) | titlecase }}
            <span *ngIf="!activeLangIsDefaultLang" class="default-lang-text">
              / {{ link.label | titlecase }}
            </span>
          </button>
        </ng-container>
        <button ngbDropdownItem (click)="toggleNavBar()">
          {{ t('navigation.userProfile.toggleNavBarText') | titlecase }}
          <span *ngIf="!activeLangIsDefaultLang" class="default-lang-text">
            / {{ defaultLangText.toggleNavBarText | titlecase }}
          </span>
        </button>
        <button ngbDropdownItem (click)="openConfirmModal()">
          {{ t('navigation.userProfile.signOut') | titlecase }}
          <span *ngIf="!activeLangIsDefaultLang" class="default-lang-text">
            / {{ defaultLangText.signOut | titlecase }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
