@import '../navigation.scss';

.profile-dropdown-container {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.profile-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
