.card-header {
  margin-bottom: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field-label {
  color: white;
}

.error-container {
  height: 24px;
}

.default-lang-text {
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
}

.field-container .field-label .default-lang-text {
  font-size: 14px;
}
