<div class="card">
  <h2 class="card-header">{{ formTitle }}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ng-container *ngIf="formConfig.controls.length">
      <ng-container
        *ngFor="let field of formConfig.controls"
        appDynamicField
        [fieldConfig]="field"
        [group]="form"
      ></ng-container>
    </ng-container>
    <app-save-cancel
      class="save-cancel-container"
      [buttonConfig]="formConfig.submit"
      [form]="form"
      [shouldDisable]="!form.valid"
      (emitSubmit)="submit()"
    ></app-save-cancel>
  </form>
</div>
