<div
  class="field-container"
  [formGroup]="group"
  *transloco="let t; read: 'dynamicForm'"
>
  <label class="field-label" [for]="config.name">
    {{ t(getObjectProperty('label', config.label)) }}
  </label>
  <input
    [id]="config.name"
    [name]="config.name"
    [type]="config.fieldConfig.inputType"
    [formControlName]="config.name"
    [placeholder]="
      config.placeholder
        ? t(getObjectProperty('placeholder', config.placeholder))
        : ''
    "
    [autocomplete]="config.fieldConfig.autocomplete"
    [mask]="config.fieldConfig.mask"
  />
  <span class="error-container">
    <ng-container *ngIf="formControl?.errors">
      <span class="field-label">
        {{ t(formErrorValue, { control: t(configLabel) }) | formError }}
      </span>
    </ng-container>
  </span>
</div>
