<div class="field-container" [formGroup]="group">
  <label class="field-label" [for]="config.name">{{ config.label }}</label>
  <input
    [id]="config.name"
    [name]="config.name"
    [type]="config.fieldConfig.inputType"
    [formControlName]="config.name"
    [placeholder]="config.placeholder"
    [autocomplete]="config.fieldConfig.autocomplete"
    [mask]="config.fieldConfig.mask"
  >
  <ng-container *ngIf="formControl?.errors; else empty">
    <span class="field-label">
      {{ formControl?.errors | formError }}
    </span>
  </ng-container>
  <ng-template #empty>
    <span class="empty-message-container">
    </span>
  </ng-template>
</div>
