button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-nav {
  align-self: baseline;
}

.login-button-container {
  display: flex;
}

.navbar-expand-lg {
  justify-content: space-between;
}
