<div class="field-container" [formGroup]="group" *transloco="let translate">
  <label class="field-label" [for]="config.name">
    {{ translate(config.label) }}
    <span *ngIf="!(activeLangIsDefaultLang$ | async)" class="default-lang-text">
      /
      <span
        [transloco]="config.label"
        [translocoLang]="translocoConfig.defaultLang + '|static'"
      ></span>
    </span>
  </label>
  <select
    [id]="config.name"
    [name]="config.name"
    [formControlName]="config.name"
  >
    <option
      *ngFor="let option of config.fieldConfig.options"
      [value]="option[config.fieldConfig.optionValue]"
    >
      <ng-container
        *ngIf="
          config.fieldConfig.shouldOptionNameBeTranslatedByClient;
          else original
        "
      >
        {{ translate(option[config.fieldConfig.optionName]) }}
      </ng-container>
      <ng-template #original>
        {{ option[config.fieldConfig.optionName] }}
      </ng-template>
    </option>
  </select>
  <span class="error-container">
    <ng-container *ngIf="formControl?.errors">
      <span class="field-label">
        {{
          translate(formErrorValue, { control: translate(configLabel) })
            | formError
        }}
      </span>
    </ng-container>
  </span>
</div>
