<div class="field-container" [formGroup]="group" *transloco="let t">
  <label class="field-label" [for]="config.name">
    {{
      t(translationService.getObjectProperty('dynamicForm.label', config.label))
    }}
  </label>
  <select
    [id]="config.name"
    [name]="config.name"
    [formControlName]="config.name"
  >
    <option
      *ngFor="let option of config.fieldConfig.options"
      [value]="option[config.fieldConfig.optionValue]"
    >
      {{ option[config.fieldConfig.optionName] }}
    </option>
  </select>
  <span class="error-container">
    <ng-container *ngIf="formControl?.errors">
      <span class="field-label">
        {{ formControl?.errors | formError }}
      </span>
    </ng-container>
  </span>
</div>
