<div class="field-container" [formGroup]="group">
  <label class="field-label" [for]="config.name">{{ config.label }}</label>
  <select
    [id]="config.name"
    [name]="config.name"
    [formControlName]="config.name"
  >
    <option *ngFor="let option of config.fieldConfig.options" [value]="option[config.fieldConfig.optionValue]">
      {{ option[config.fieldConfig.optionName] }}
    </option>
  </select>
  <ng-container *ngIf="formControl?.errors; else empty">
    <span class="field-label">
      {{ formControl?.errors | formError }}
    </span>
  </ng-container>
  <ng-template #empty>
    <span class="empty-message-container">
    </span>
  </ng-template>
</div>
