<ng-container *transloco="let translate">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          {{ translate('dynamicTable.header.lastName') | localeuppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.firstName') | localeuppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.email') | localeuppercase }}
        </th>
        <ng-container *ngIf="checkRole?.isSuperAdmin">
          <th scope="col">
            {{ translate('dynamicTable.header.agency') | localeuppercase }}
          </th>
        </ng-container>
        <th scope="col">
          {{ translate('dynamicTable.header.role') | localeuppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.activated') | localeuppercase }}
        </th>
        <th scope="col">
          {{ translate('dynamicTable.header.actions') | localeuppercase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableData.length">
        <tr *ngFor="let item of tableData; trackBy: 'id' | trackByKey">
          <td>{{ item.lastName }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.email }}</td>
          <ng-container *ngIf="checkRole?.isSuperAdmin">
            <td>{{ item.agency.agencyName }}</td>
          </ng-container>
          <td>{{ item.role.roleName }}</td>
          <td>
            <ng-container *ngIf="item.activatedAt; else resendEmail">
              {{ item.activatedAt | date }}
            </ng-container>
            <ng-template #resendEmail>
              <button
                class="btn"
                (click)="resendActivationEmail(item)"
                tooltip="{{
                  translate('dynamicTable.tooltip.resendActivationEmail')
                }}"
              >
                <span class="fa fa-envelope"></span>
                <span class="sr-only">
                  {{
                    translate('dynamicTable.tooltip.resendActivationEmail')
                  }}</span
                >
              </button>
            </ng-template>
          </td>
          <td>
            <button
              class="btn"
              type="button"
              routerLink="/admin/update-user/{{ item.id }}"
              tooltip="{{ translate('dynamicTable.tooltip.updateUser') }}"
            >
              <span class="fa fa-edit"></span>
              <span class="sr-only">{{
                translate('dynamicTable.tooltip.updateUser')
              }}</span>
            </button>
            <ng-container *ngIf="!isSelf(item.id)">
              <button
                class="btn"
                type="button"
                (click)="deleteUser(item)"
                tooltip="{{ translate('dynamicTable.tooltip.deleteUser') }}"
              >
                <span class="fa fa-trash"></span>
                <span class="sr-only">{{
                  translate('dynamicTable.tooltip.deleteUser')
                }}</span>
              </button>
            </ng-container>
            <ng-container *ngIf="!isSelf(item.id)">
              <button
                class="btn"
                type="button"
                (click)="resetPassword(item)"
                tooltip="{{ translate('dynamicTable.tooltip.resetPassword') }}"
              >
                <span class="fa fa-lock"></span>
                <span class="sr-only">{{
                  translate('dynamicTable.tooltip.resetPassword')
                }}</span>
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="center" *ngIf="!tableData.length">
    {{ translate('dynamicTable.body.emptyListMessage') }}
  </div>
</ng-container>
