<ng-container *transloco="let translate">
  <div class="row">
    <button class="btn btn-add" routerLink="/admin/create-agency">
      {{ translate(addButtonText) | localeuppercase }}
    </button>
  </div>
  <ng-container *ngIf="agencyList; else loading">
    <app-agency-table
      class="route-content"
      [tableData]="agencyList"
      (emitDelete)="deleteAgency($event)"
    ></app-agency-table>
  </ng-container>
  <ng-template #loading>
    <div class="table">
      <div class="loader"></div>
    </div>
  </ng-template>
</ng-container>
