<ng-container *transloco="let translate">
  <div class="select-language-container">
    <div class="instructions">
      {{ translate(popover.instructions) | localeuppercase }}
    </div>
    <ng-container *ngFor="let language of agent.hasTranslationList">
      <button
        class="btn language-btn"
        [ngClass]="
          language.hasTranslation ? 'btn-add' : 'btn-missing-translation'
        "
        (click)="selectLanguage(language.code)"
      >
        {{ translate(languageTranslationKeys[language.name]) | titlecase }}
        <ng-container *ngIf="language.hasTranslation"
          ><span class="fa fa-check"></span
        ></ng-container>
      </button>
    </ng-container>
  </div>
</ng-container>
