button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.nav-container {
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  padding-right: 20px;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-dropdown-container {
  display: flex;
  align-items: center;
}
