<div class="holy-grail">
  <ng-container *ngIf="(navbarToggle$ | async) as navbarToggle">
    <ng-container *ngIf="navbarToggle === 'top'">
      <app-top-navigation class="shadow"></app-top-navigation>
    </ng-container>
    <div class="holy-grail-body">
      <ng-container *ngIf="navbarToggle === 'side'">
        <app-side-navigation class="shadow holy-grail-sidebar-1 hg-sidebar"></app-side-navigation>
      </ng-container>
      <main class="holy-grail-content">
        <div class="holy-grail-child">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </ng-container>
</div>
