<div class="save-cancel-button-row">
  <button
    *ngIf="buttonConfig.showCancel"
    id="cancel-button"
    type="button"
    class="btn"
    mat-raised-button
    (click)="cancel()"
  >
    {{ buttonConfig.cancel | uppercase }}
  </button>
  <button
    id="form-submit-button"
    class="btn"
    [ngClass]="buttonConfig.showCancel ? '' : 'full-width-button'"
    type="submit"
    mat-raised-button
    (click)="save()"
    [disabled]="shouldDisable"
  >
    {{ buttonConfig.save | uppercase }}
  </button>
</div>
