.save-cancel-button-row {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    min-width: 150px;
    padding: 10px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.full-width-button {
      width: 100%;
    }
  }
}