<div class="save-cancel-button-row" *transloco="let t">
  <button
    id="form-submit-button"
    class="btn"
    type="submit"
    mat-raised-button
    (click)="save()"
    [disabled]="shouldDisable"
  >
    {{
      t(
        translationService.getObjectProperty(
          'formText.buttons',
          buttonConfig.save
        )
      ) | uppercase
    }}
  </button>
  <button
    id="cancel-button"
    type="button"
    class="btn"
    mat-raised-button
    (click)="cancel()"
  >
    {{
      t(
        translationService.getObjectProperty(
          'formText.buttons',
          buttonConfig.cancel
        )
      ) | uppercase
    }}
  </button>
</div>
