<div ngbDropdown class="navbar-nav">
  <button
    ngbDropdownToggle
    id="languageDropdown"
    class="nav-link language-button"
  >
    <span class="fa fa-language"></span>
    {{ activeLanguage | titlecase }}
  </button>
  <div
    ngbDropdownMenu
    aria-labelledby="languageDropdown"
    class="dropdown-menu-left"
  >
    <ng-container *ngFor="let language of availableLanguagesForSelection">
      <button ngbDropdownItem (click)="selectLanguage(language)">
        {{ language | titlecase }}
      </button>
    </ng-container>
  </div>
</div>
