<div ngbDropdown class="navbar-nav" *transloco="let translate">
  <button
    ngbDropdownToggle
    id="languageDropdown"
    class="nav-link language-button"
  >
    <span class="fa fa-language"></span>
    {{ translate(getObjectProperty(activeLanguage)) | titlecase }}
  </button>
  <div
    ngbDropdownMenu
    aria-labelledby="languageDropdown"
    class="dropdown-menu-left"
  >
    <ng-container *ngFor="let language of availableLanguagesForSelection">
      <button ngbDropdownItem (click)="selectLanguage(language)">
        {{ translate(getObjectProperty(language)) | titlecase }}
        <span *ngIf="!activeLangIsDefaultLang" class="default-lang-text">
          / {{ language | titlecase }}
        </span>
      </button>
    </ng-container>
  </div>
</div>
