<nav class="nav-container navbar-light" *transloco="let translate">
  <a class="logo navbar-brand" [routerLink]="'/'">
    <img src="assets/img/logo.png" alt="Shift3 Technologies" />
  </a>
  <ng-container *ngIf="isValid; else loggedOut">
    <div class="link-container">
      <ng-container *ngIf="navLinks?.length">
        <ul class="navbar-nav">
          <button
            *ngFor="let link of navLinks; trackBy: 'id' | trackByKey"
            class="nav-link"
            [routerLink]="link.link"
            (click)="isMenuCollapsed = true"
          >
            <span [class]="link.icon"></span>
            {{ translate(getObjectProperty(link.label)) }}
          </button>
          <app-language-settings></app-language-settings>
        </ul>
      </ng-container>
      <app-settings
        [activeLangIsDefaultLang]="activeLangIsDefaultLang"
        [loggedInUser]="loggedInUser"
      ></app-settings>
    </div>
  </ng-container>
  <ng-template #loggedOut>
    <div class="login-button-container">
      <app-language-settings></app-language-settings>
      <button
        id="form-submit-button"
        class="btn"
        type="button"
        mat-raised-button
        routerLink="/auth/login"
      >
        {{ translate('dynamicForm.action.login') | localeuppercase }} /
        {{ translate('dynamicForm.action.signUp') | localeuppercase }}
      </button>
    </div>
  </ng-template>
</nav>
