<nav class="nav-container navbar-light">
  <a class="logo navbar-brand" [routerLink]="'/'">
    <img src="assets/img/logo.png" alt="Shift3 Technologies">
  </a>
  <ng-container *ngIf="isLoggedInUser; else loggedOut">
    <div class="link-container">
      <ng-container *ngIf="navLinks?.length">
        <ul class="navbar-nav">
          <button
            *ngFor="let link of navLinks; trackBy: trackByLink"
            class="nav-link"
            [routerLink]="link.link"
            (click)="isMenuCollapsed = true"
          >
            <span [class]="link.icon"></span>
            {{ link.label }}
          </button>
        </ul>
      </ng-container>
      <app-settings
        [loggedInUser]="loggedInUser"
      ></app-settings>
    </div>
  </ng-container>
  <ng-template #loggedOut>
    <div class="login-button-container">
      <button
        id="form-submit-button"
        class="btn"
        type="button"
        mat-raised-button
        routerLink="/auth/login"
      >
        {{ "Login/Create Account" | uppercase }}
      </button>
    </div>
  </ng-template>
</nav>
