.change-email-container {
    color: #fff;
    padding: 0;

    .existing-request-container {
        padding: 50px 50px 0;
    }

    #form-submit-button {
        width: 100%;
        margin-bottom: 16px;
    }
}