/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.child {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.holy-grail {
	height: 100vh;
}

.holy-grail,
.holy-grail-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  max-width: 1980px;
}

.flex-column {
  flex-direction: column;
}

.holy-grail-child {
  display: flex;
  justify-content: center;
}

.content-expand {
  width: 100vw;
}

@media (min-width: 768px) {
	/**
	 * Body items are now side by side
	 */
	.holy-grail-body {
		flex-direction: row;
	}
}

.center {
  text-align: center;
}
