@import './assets/styles/overrides';
@import './assets/styles/variables';

/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.holy-grail {
	height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  max-width: 1980px;
}

.holy-grail-sidebar-1 {
  order: -1;
}

.flex-column {
  flex-direction: column;
}

.holy-grail-child {
  display: flex;
  justify-content: center;
}

.content-expand {
  width: 100vw;
}

@media (min-width: 992px) {
  /**
  * Body items are now side by side
  */
  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}

.center {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 1px 1px 5px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 5px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 1;
}

//#region Form
#cancel-button {
  color: white;
  background: $primary;
  border-color: $primary-border;
}

#form-submit-button {
  background-color: $accent;
  color: white;
  border-color: $accent;
}

#form-submit-button:disabled {
  background-color: $accent-disabled;
}

.save-cancel-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-add {
  color: white;
  background-color: $accent;
}
//#endregion

.routed-content {
  padding: 20px;
}

//#region Cards
.card {
  background: $primary;
  padding: 50px;
  max-width: 500px;
  min-width: 500px;
  border: 0;
}

.card-header {
  color: $card-header;
  padding: 0;
  background-color: inherit;
  border-bottom: initial;
}
//#endregion

//#region Tables
thead {
  background: $primary;
  color: white;
}

.table th {
  border-top: 0;
}

th:nth-child(1){
  border-radius: 15px 0px 0px 0px;
}

th:nth-last-child(1){
  border-radius: 0px 15px 0px 0px;
}

tbody > tr {
  background: white;
}

td {
  color: $primary;
}
//#endregion

.fa {
  color: $primary;
}
