<div class="row">
  <button class="btn btn-add" routerLink="/admin/create-user">{{ "Add User" |  uppercase }}</button>
</div>
<ng-container *ngIf="userList else loading">
  <app-user-table
    class="route-content"
    [checkRole]="(checkRole)"
    [loggedInUser]="loggedInUser"
    [tableData]="userList"
    (emitDelete)="deleteUser($event)"
    (emitResendActivationEmail)="resendActivationEmail($event)"
    (emitResetPassword)="resetPassword($event)"
  ></app-user-table>
</ng-container>
<ng-template #loading>
  <div class="table">
    <div class="loader"></div>
  </div>
</ng-template>
