<ng-container *ngIf="checkRole?.isAdmin">
  <div class="row" *transloco="let translate; read: 'dynamicForm'">
    <button class="btn btn-add" routerLink="/admin/create-user">
      {{ translate('action.addUser') | localeuppercase }}
    </button>
  </div>
</ng-container>
<ng-container *ngIf="userList; else loading">
  <app-user-table
    class="route-content"
    [checkRole]="checkRole"
    [loggedInUser]="loggedInUser"
    [tableData]="userList"
    (emitDelete)="deleteUser($event)"
    (emitResendActivationEmail)="resendActivationEmail($event)"
    (emitResetPassword)="resetPassword($event)"
  ></app-user-table>
</ng-container>
<ng-template #loading>
  <div class="table">
    <div class="loader"></div>
  </div>
</ng-template>
