//#region Site colors
$admin-background: #f1f1f1;
$auth-background: #ecf6f9;
$content-background: #f1f1f1;
$user-background: #f1f1f1;
$primary: #0069d9;
$primary-border: #0069d9;
$accent: #d44325;
$accent-disabled: lighten($accent, 20%);
$card-header: #c5e6ec;
//#endregion
