//#region Site colors
$admin-background: #f1f0eb;
$auth-background: #ecf6f9;
$content-background: #f1f0eb;
$user-background: #f1f0eb;
$primary: #175f6e;
$primary-border: #66bbcd;
$accent: #d44325;
$accent-disabled: lighten($accent, 20%);
$card-header: #c5e6ec;
//#endregion
