//#region Site colors
$admin-background: #F1F0EB;
$auth-background: #ECF6F9;
$primary: #175F6E;
$primary-border: #66BBCD;
$accent: #D44325;
$accent-disabled: lighten($accent, 20%);
$card-header: #C5E6EC;
//#endregion
